* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  width: 100%;
  text-align: center;
}

.outer {
  display: flex;
  height: 8vh;
  overflow: hidden;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 20%;
  max-width: 25%;
  transition: all 0.5s ease;
}
.panel p {
  transform: rotate(90deg);
  transform-origin: 0;
  transition: all 1s ease;
}

.home {
  background: white;
  z-index: 100;
}
.home div {
  margin-bottom: 3rem;
  z-index: 25;
  font-size: 3rem;
  padding-bottom: 1rem;
}
.home aside {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.records {
  background: #e0efda;
  z-index: 90;
}
.records div {
  margin-bottom: 3rem;
  z-index: 90;
}
.records aside {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.orders {
  background: #e83f6f;
  z-index: 80;
}

.orders div {
  margin-bottom: 3rem;
  z-index: 25;
}
.orders aside {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.profile {
  background: #34b183;
  z-index: 70;
}
.profile div {
  margin-bottom: 3rem;
  z-index: 25;
}
.profile aside {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.signup {
  background: #92d1c3;
  z-index: 80;
}

.signup div {
  margin-bottom: 3rem;
  z-index: 25;
}
.signup aside {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.login {
  background: #f5b700;
  z-index: 70;
}
.login div {
  margin-bottom: 3rem;
  z-index: 25;
}
.login aside {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
.cart {
  background: #7776bc;
  z-index: 60;
}
.cart div {
  margin-bottom: 3rem;
  z-index: 25;
}
.cart aside {
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
}

.admin {
  background: gray;
  z-index: 70;
}
.admin div {
  margin-bottom: 3rem;
  z-index: 25;
}
.admin aside {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.active {
  width: 22.5%;
}
.active p {
  transform: rotate(0);
}
.navbar {
  padding-left: 3rem;
}

@media (max-width: 768px) {
/*   .App {
    font-size: 1rem;
  }
  aside {
    z-index: 1;
    height: 60vh;
    text-align: center;
  }

  .outer {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    height: 60vh;
    z-index: 1;
  }

  .panel {
    width: 100vw;
    z-index: 1;
  }

  .active {
    width: 100vw;
    z-index: 1;
  }
 */
/* ///////// */

body {
  height: 100%;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 0.5rem;
}

.outer {
  display: flex;
  height: 10vh;
  overflow: hidden;

}

.outer a{
  font-size: 0.6rem;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 20%;
  transition: all 0.5s ease;

}
.panel p {
  transform: rotate(90deg);
  transform-origin: 0;
  transition: all 1s ease;
  
}

aside img{
  width: 25px;
}

}
