.editProfileContainer{
    background-color: #34B183;
    margin: 0;
    
    min-height: 92vh;
    display: flex;
  justify-content:center;
  align-items: center;
}
h1{
    padding-bottom: 3rem;
}

.editProfileContainer button{
    background-color: aliceblue;
    color: black;
}

