.loginContainer {
  /*   background-color: #f5b700; */
  border: 2rem solid #f5b700;
  margin: 0;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/foodBackground10.png");
  /* background-position: center;  */
  background-repeat: repeat; 
  background-size: cover; 
}

.loginContainer h1 {
  padding: 1.5rem 0;
  margin-bottom: 3rem;
  background-color: #f5b700;
}

.loginContainer form {
  text-align: center;
  width: 30%;
  border: 2px solid #f5b700;
  padding: 2rem;
}


@media (max-width: 768px){
  .loginContainer form {
    text-align: center;
    width: 90%;
    border: 2px solid #f5b700;
    padding: 2rem;
  }
  .loginContainer h1 {
    margin-bottom: 3rem;
    background-color: #f5b700;
    padding: 1.5rem 0;
    font-size: 1.5rem;
  }
  .loginContainer{
    font-size: 1rem;
  }
}