.profileContainer{
    background-color: #34B183;
    margin: 0;
    padding-top: 5rem;
    min-height: 92vh;
}
h1{
    padding-bottom: 3rem;
}

.profileContainer button{
    margin: 1rem;
    width: 10%;
    background-color: aliceblue;
    color: black;
}

#deleteUser{
    color: red;
}