.profileContainer {
  /* background-color: #34B183; */
  border: 2rem solid #34b183;
  margin: 0;
  padding-top: 5rem;
  min-height: 92vh;
}

#h1Profile {
  display: grid;
  justify-content: center;
}

.profileContainer h1 {
  margin-bottom: 3rem;
  background-color: #34b183;
  padding: 1.5rem;
}

.profileContainer button {
  margin: 1rem;
  width: 10%;
  background-color: aliceblue;
  color: black;
}

#deleteUser {
  color: red;
}

.profileContainer section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}