* {
  box-sizing: border-box;
}

.signupContainer {
  display: flex;
  justify-content:center;
  align-items: center;
  /* background-color: #92d1c3; */
  border: 2rem solid #92d1c3;
  margin: 0;
  min-height: 92vh;
  background-image: url("./images/foodBackground10.png");
  background-position: center; 
  background-repeat: repeat; 
  background-size: cover; 
}
.signupContainer h1 {
  padding: 1.5rem 0;
  margin-bottom: 3rem;
  background-color: #92d1c3; 
}

.signupContainer form {
  text-align: center;
  width: 30%;
  border: 2px solid #92d1c3;
  padding: 2rem;
}

/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background-color: rgba(221, 221, 221, 0.808);
  outline: 1px solid #04aa6d;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}


/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#uploadFile{
    text-align: center;
  
}

/* Change styles for cancel button and signup button on extra small screens */
/* @media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
} */


@media (max-width: 768px){

  .signupContainer form {
    text-align: center;
    width: 90%;
    border: 2px solid #92d1c3;
    padding: 2rem;
  }
  .signupContainer h1 {
    margin-bottom: 3rem;
    padding: 1.5rem 0;
    background-color: #92d1c3; 
  }
  .signupContainer {
    font-size: 1rem;
  }
}